<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="/user/save2" method="post">
   <input type="text" name="email" placeholder="E-mail"><br>
   <input type="text" name="name" placeholder="Name"><br>
   <input type="text" name="surname" placeholder="Surname"><br>
   <input type="text" name="password" placeholder="Password"><br>
   <input type="text" name="repeatPassword" placeholder="Repeat"><br>
   <button type="submit" formmethod="post">Add</button>
</form>

</body>
</html>